<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/addUser}"
          th:object="${user}" method="POST">
        First Name:
        <input type="text" th:charset="utf-8" th:field="*{firstName}" />
        <br/>
        Last Name:
        <input type="text" th:charset="utf-8" th:field="*{lastName}" />
        <br/>
        Age:
        <input type="number" th:charset="utf-8" th:field="*{age}"  />
        <br/>
        <button type="submit">Add</button>
        <input type="hidden" th:field="*{id}" />
    </form>
</body>
</html>