<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form th:action="@{/addUserForm}" method="GET">
        <button type="submit">Add user</button>
    </form>
    <br/>
    <br/>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.firstName}"></td>
            <td th:utext="${user.lastName}"></td>
            <td th:utext="${user.age}"></td>
            <td>
                <form th:action="@{/deleteUser}" th:object="${user}" th:method="DELETE">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form th:action="@{/editUserForm}" th:object="${user}" method="GET">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <button type="submit">Edit</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>